body {
    font-family:'Source Sans Pro', sans-serif;
    margin:0;

}
h1, h2, h3, h4, h5, h6{
    font-family:'Fjalla One', sans-serif /*fuente para estilo*/
}


h1 {
    font-size: 40px; /*tamaño de fuente*/
    line-height: 1.5; /*alto de linea 0 1 */
    font-weight: normal; /*peso de fuente*/
    letter-spacing: -.2px; /*separacion de letras*/
    color:white;
    margin:100px 150px 70px 50px/*margen arriba derecha abajo izquier*/
    /*font-style:italic // estilo de fuente*/
    /*text-transform:uppercase;/*transformar para que los buscadores pongan en minuscula en mayusculas*/
    /*text-decoration:overline/*subrayado y otros*/
}
    h1 strong {
    color: #026fff;
    }
.portafolio{
    background:#fafafa;
}
.project {
    background: white;
    border: 1px solid gray;
    border-radius: 10px; /*bordes redondeados*/
    margin:10px;
    margin-bottom:15px; /*top right left bottom*/
    padding:20px; /*margen interna del elemnto*/
  
    /*border-top: 10px solid red; /* del borde arribatamaño tipo estilo*/
    /*border-right: 10px solid green; /* del borde arribatamaño tipo estilo*/
    /*-left: 10px solid pink; /* del borde arribatamaño tipo estilo*/
    /*border-bottom: 10px solid orange; /* del borde arribatamaño tipo estilo*/
    /*border-bottom-left-radius:50px; border en esquina superior*/
}
.project-details {
    width: 500px;
}
.project-imageContainer {
    width: 500px;
}

.header {
    background-color: #1b2127; /*color fondo*/
    color: white; /*color texto*/wit

}
.header a {
        color: white;
        text-decoration:none;
    }
.hero {
    height: 300px;
    background-image: url('../images/hero.jpg');
    background-color: #1b2127; /*color fondo*/
    background-size: 500px 300px; /*tampo imagen ancho y alto*/
    background-repeat: no-repeat; /*que no se repita*/
    background-position-x: right; /*mover imagen por picel*/
}
