body {
    font-family:'Source Sans Pro', sans-serif;
    margin:0;
  

}
h1, h2, h3, h4, h5, h6{
    font-family:'Fjalla One', sans-serif /*fuente para estilo*/
}


h1 {
    font-size: 40px; /*tamaño de fuente*/
    line-height: 1.5; /*alto de linea 0 1 */
    font-weight: normal; /*peso de fuente*/
    letter-spacing: -.2px; /*separacion de letras*/
    color:white;
    margin:0;
    /*margin:100px 150px 70px 50px/*margen arriba derecha abajo izquier*/
    /*font-style:italic // estilo de fuente*/
    /*text-transform:uppercase;/*transformar para que los buscadores pongan en minuscula en mayusculas*/
    /*text-decoration:overline/*subrayado y otros*/
}
h1 strong {
    color: #026fff;
    }
h2 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #026fff;
    text-transform: uppercase;
    font-weight:bold;
    font-size:24px;
    margin-bottom:40px;
}
.portafolio{
    padding:20px;
    background:#fafafa;
}
.project {
    display:flex;/*propiedad para ubicar los elementos en un etiqueta block inlen felex*/
    background: white;
    border: 1px solid gray;
    border-radius: 10px; /*bordes redondeados*/
    align-items:center;
    justify-content:space-between;
   /* margin:10px;*/
    margin-bottom:15px; /*top right left bottom*/
    padding:20px; /*margen interna del elemnto*/
  
    /*border-top: 10px solid red; /* del borde arribatamaño tipo estilo*/
    /*border-right: 10px solid green; /* del borde arribatamaño tipo estilo*/
    /*-left: 10px solid pink; /* del borde arribatamaño tipo estilo*/
    /*border-bottom: 10px solid orange; /* del borde arribatamaño tipo estilo*/
    /*border-bottom-left-radius:50px; border en esquina superior*/
}
.project strong {
        font-family: 'Fjalla One', sans-serif

}
.project-course, .project-date, .project-url {
    margin: 10px 0;
}
.project-details {
    width: 500px;
}
.project-title{
    font-size:30px;
    margin-top:0;
    margin-bottom:10px;
}
.project-description{
    font-size:30px;

}

.project-imageContainer {
    width: 500px;
}

.header {
    display:flex;
    background-color: #1b2127; /*color fondo*/
    color: white; /*color texto*/
    justify-content:space-between;
    height:70px;
    align-items:center;
}
.menu{
    height:inherit;
}

 .header ol {
    display:flex;
    height:inherit;
    }
  .header ol li {
    display:flex;
    height:inherit;
    }

 
 .header a {
        display:flex;
        color: white;
        text-decoration: none;
        align-items:center;
        padding:0 10px;
    }
.hero {
    display:flex;
    height: 300px;
    background-image: url('../images/hero.jpg');
    background-color: #1b2127; /*color fondo*/
    background-size: 500px 300px; /*tampo imagen ancho y alto*/
    background-repeat: no-repeat; /*que no se repita*/
    background-position-x: right; /*mover imagen por picel*/
    align-items:center;
    padding:0 20px;
}
.flexbox {
    display: flex; 
    height:300px;/*ubica autimaticamente los elementos horizontal*/
    /*flex-direction:column; /*alinea los elementos en columna  */
    /*flex-wrap:nowrap;//es una propiedad del padre para contiunar los de forma horizonta por defecto esta activo*/
    flex-wrap: wrap; /*hace que los elementos que no caben dentro de pantalla caigan verticalmente*/
    justify-content: center; /*ayuda a expaciar automaticamente los elemento space-evenly toma espaciado para cada lado*/
    align-items:center;/*alinea elementos cualquier lado del elemnto*/
}
.box {
    width:50px;
    height:50px;
    margin:10px;
    border: 1px solid red;
    /*align-self propiedad de los hijos de display flex alineate a ti mismo*/
    /*flex-shrink:0;/*es una propiedad del display flex del hijo que le dice que no se contraigao se estire va de 0-1*/
}
ol,
ul {
    
    margin:0px;
    padding:0px;
    list-style:none;
}

figure {
    margin:0px
}
.event-list{
    display:flex;

}


.event {
    margin: 10px;
    width: 480px;
   /* border: 1px solid red;*/
    border-radius: 10px;
    flex-shrink:0;
    overflow: hidden; /*oculta los elemntos que sobrepasen el elmento padre*/
    background:#f4fbff;
}
.event-list-title{
    margin:20px
}
.event img {
    width: 480px;
    height: 200px;
    object-fit: cover; /*ayuda a proporciones de la imagen para que nos e distorcione*/
}
.event-detail{
    margin:20px 40px;
    margin-top:-40px;
    position:relative;/*trae al frente el elemnto de otros */
    background:white;
    padding:20px;
    text-align:center;
}
.event-description{
    text-align:left;
}
.event-url{
    color:#056fff;
    border: 1px solid;
    padding:5px 20px;
    text-decoration:none;
    border-radius:5px;
}
.footer{
    display:flex;
    color:white;
    background-color:#1b2127;
    align-items:center;
    justify-content:space-between;
    padding:0 20px;
}
.footer img{
    vertical-align:middle;/*se alinea la imagen al medio*/
}
.footer a {
    color:white
}
    